<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remind Me!</title>
</head>

<body>

    <h1> Remind Me! </h1>
    <br>
    <h3> {{title}}</h3>
    <p>{{description}}</p>

    <div id="responsive">
        <p>
            Want to see Hint?
            <button onclick="getHint()">Show Hint</button>
        </p>

    </div>

    <p>
        <a href=/next>Next!</a>
    </p>

</body>

</html>

<script>
    async function getHint(event) {
        let currentUrl = window.location.pathname;
        let id = currentUrl.split('/')[2];

        let res = await fetch(`/hint/${id}`).then(res => res.json());

        document.getElementById("responsive").innerHTML = `
        <div id="responsive">
            <h3>Hint:</h3>
            <p>
                ${res.hint}
                <br> 
                <br>
                           
                Want to see the Solution as well?
                <button onclick="getSolution()">Reveal solution</button>
            </p>
        </div>
        `

    }
    async function getSolution() {
        let currentUrl = window.location.pathname;
        let id = currentUrl.split('/')[2];

        let res = await fetch(`/solution/${id}`).then(res => res.json());
        document.getElementById("responsive").innerHTML = `
        <div id="responsive">
            <h3>Hint:</h3>
            <p>
                ${res.hint}
                <br> 
                <br>
            </p>
            <h3>
                Solution
            </h3> 
            <p>
                ${res.solution}
            </p> 
        </div>
        `
    }
</script>